body {
    background-color: #FFF;
    margin: 0 auto;
  }
  
  .container {
    background-color: #91f2d2;
    height: 200px;
    width: 300px;
    position: relative;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .box {
    height: 50px;
    width: 50px;
  }
  
  .black-box {
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .blue-box {
    background-color: #2d5dcc;
  }