a:hover {
        cursor: pointer;
}
.navigation a:hover {
        cursor: pointer;
        background-color: aliceblue;
        opacity: 0.7;
        }
.navigation a:active{
        color:#D7C0AE;
}
.btn {
        padding: 10px 20px;
        border: 1px solid #EEE3CB;
        background-color: #B7C4CF;
        color: #967E76;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 50px;
        box-shadow: 2px 3px;
        font-family: 'Raleway', sans-serif;
        transition: background-color 0.1s 0.05s, color 0.1s 0.05s, font-size 0.1s;
}

.btn:hover {
        background-color: #967E76;
        color:#D7C0AE;
}
.btn:active {
        font-size: 18px;
}
.activity {
        transition: background-color 0.15s 0.05s, color 0.15s 0.05s opacity 0.15s 0.05s; 
}
.activity:hover {
        text-decoration: none;
        background-color: #B7C4CF;
        color: #967E76;
        border: 2px solid #EEE3CB;
}
.activity:active {
        text-decoration: none;
        color: #967E76;
        opacity: 1;
        font-size: 55px;
}
/*
.breadcrumb {
        position: relative;
        margin-top: 200px;
        background-color: #D7C0AE;
        padding: 120px 0px;
        display: flex;
        justify-content: center;
}
.breadcrumb li {
        list-style: none;
        border: 0px solid red;
        height: 30px;
        display: flex;
        margin-right: 20px;
        background-color: rebeccapurple;
}
.breadcrumb a {
        margin: auto 0;
        color: #EEE3CB;
}
.breadcrumb li.location+li.location::before {
        position: relative;
        content: " ";
        border: solid blue;
        border-width: 15px 8px;
        border-left-color: transparent;
        left: -16px;
}
.breadcrumb li.location::after {
        position: relative;
        content: " ";
        border: solid transparent;
        border-width: 15px 8px;
        border-left-color: blue;
        left: 16px;
}
*/
.breadcrumb {
        position: absolute;
        display: flex;
        margin-top: 100px;
        background-color: #EEE3CB;
        padding-left: 15%;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;

}

.breadcrumb li { 
        list-style: none;
}

.breadcrumb a {  color: #fff;  background: darkcyan;

        text-decoration: none;      
        position: relative;
        display: flex;
        height: 30px;      
        line-height: 30px;      
        text-align: center;      
        margin-right: 15px;      
        padding: 0 5px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;      
      }

.breadcrumb .location a::before,.breadcrumb .location a::after {

        content: "";

        position: absolute;

        border-color: darkcyan;

        border-style: solid;

        border-width: 15px 5px;

}

.breadcrumb .location a::after {

  left: 100%;

  border-color: transparent;

  border-left-color: darkcyan;

}

.breadcrumb .location a::before {

  left: -10px;

  border-left-color: transparent;

}

.breadcrumb a:hover {

  background-color: blue;}

.breadcrumb a:hover::before {

  border-color: blue;

  border-left-color: transparent;

}

.breadcrumb a:hover::after {

  border-left-color: blue;

}
.breadcrumb .attribute a {
        border-radius: 10px;
        background-color: #967E76;
        margin-right: 0px;
}
.breadcrumb li.attribute:after {
        content: "X";
        color: gray;
        font-size: 12px;
        border: 1px solid gray;
        position: relative;
        background-color: #B7C4CF;
        line-height: 14px;
        margin: 0;
        width: 14px;
        height: 14px;
        left: -10px;
        top: -12px;

}
.breadcrumb li.attribute:hover:after {
        cursor: pointer;
      }
.breadcrumb .attribute {
        display: flex;
        align-items: center;
        justify-content: center;
}
li::after {
        display: flex;
        justify-content: center;
}

