a:hover {
        cursor: pointer;
}
.navigation a:hover {
        cursor: pointer;
        background-color: aliceblue;
        opacity: 0.7;
        }
.navigation a:active{
        color:#D7C0AE;
}
.btn {
        padding: 10px 20px;
        border: 1px solid #EEE3CB;
        background-color: #B7C4CF;
        color: #967E76;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 50px;
        box-shadow: 2px 3px;
        font-family: 'Raleway', sans-serif;
        transition: background-color 0.1s 0.05s, color 0.1s 0.05s, font-size 0.1s;
}

.btn:hover {
        background-color: #967E76;
        color:#D7C0AE;
}
.btn:active {
        font-size: 18px;
}
.activity {
        transition: background-color 0.15s 0.05s, color 0.15s 0.05s opacity 0.15s 0.05s; 
}
.activity:hover {
        text-decoration: none;
        background-color: #B7C4CF;
        color: #967E76;
        border: 2px solid #EEE3CB;
}
.activity:active {
        text-decoration: none;
        color: #967E76;
        opacity: 1;
        font-size: 55px;
}
