body {
    font-family: 'JetBrainsMono';
}
header {
    background-color: antiquewhite;
    padding: 0.6rem 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}
main {
    position: relative;
    padding-top: 100px ;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid red;
    margin: 0 auto;
    height: 60px;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    width: 100%;
    margin: 0 10px;   
}
nav ul li {
    text-align: center;
    background-color: azure;
    padding: 10px 0.3em;
    margin: 0 2px;
}
section {
    padding: 00px 0;
    text-align: center;
}
table {
    width: 98%;
    margin: 20px auto;
}
th {
    text-transform: uppercase;
    background-color: aquamarine;
    padding: 10px;
    border: 2px solid navy;
    vertical-align: middle;
}
th:first-child {
    width: 20%;
}
th:last-child {
    width: 20%;
}
td {
    border: 2px solid navy;
    line-height: 1.5em;
    padding: 5px 2px;
    vertical-align: middle;
    font-size: 16px;
}
@media screen and (max-width: 450px) {
    td {
        text-align: justify;
        text-indent: 3px;
        font-size: 12px;    
    }
    code {
        font-size: 12px;
    }
}
/*td:nth-child(2) {
    text-align: justify;
    text-indent: 1em;
    font-size: 12px;    
}*/
#codesheet {
    width: 98%;
    overflow: scroll;
    height: 500px;
    background-color: aquamarine;
    border-radius: 10px;
    margin: 20px auto;
}
pre {
    font-size: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
code {
    display: flex;
    margin: 0 2px;
    font-size: 16px;
    background-color: transparent;
    line-height: 1.5rem;
}
footer {
    text-align: center;
    background-color: cadetblue;
    padding: 20px 0;
}