/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link { text-decoration: none; }
/* End reset styles */



/* now we use our normal styles */
* {
    box-sizing: border-box;
    letter-spacing: 0.1px;
}

p { color: bisque; }

h1, h2, h3, h4, h5, h6 { color: beige; }


h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Nova Round', cursive;
    line-height: 1.5rem;
}
h2 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;

}
h3 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;

}
h4 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1rem;
    font-family: 'Poppins', sans-serif;

}
h5 {
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1rem;
    font-family: 'Poppins', sans-serif;

}
h6 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;

}
p {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
}

