body {
        background-color: #FEFEFB;
}
header {
        background-color: #E5BEEC;
        position: fixed;
        width: 100%;
        top:0;
        height: 4rem;
        box-shadow: 0 1px 0 0;
        z-index: 9;
}
.header-wrapper {
        margin: 0 auto;
        width: 100%;
        min-height: 3.5rem;
        z-index: 9;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1000px;
}
.logo {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        margin: auto 0 auto 1rem;
}
nav {   
        width: 75%;
        margin: auto 0;
}        
.list_of_nav {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
}
main {
        margin: 3.5rem auto;
        padding: 0 1rem;
}

h1 {
        position: relative;
        top: 0px;        
}
#larger-title {
        width: 20%;
        padding: 1rem 0;        
}
.section_separate {
        position: relative;
        border: 3px solid #E5BEEC;
        width: 80px;
        height: 6px;
        margin: 1rem 0;        
}
.nav_content h5 {
        line-height: 1.5rem;
        margin: 0 0.5rem;
}
section {
        margin: 0 auto;
        padding: 2rem 0;
        max-width: 1000px;
}
.color-style{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
}
.color-pri {
        background-color: #E5BEEC;        
}
.color-second {
        background-color: #FDE2F3;        
}
.color-text {
        background-color: #2A2F4F;
}
.color-text li *{
        color: #FEFEFB;
}
.color-bg {
        background-color: #FEFEFB;
}
.general_text_style {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
}
.second_bg {
        background-color: #FDE2F3;
}
@media screen and (min-width: 767px) {        
        nav {  
                width: 60%;
        }
        .logo {
                margin: auto 0;
        }
        p {
                font-size: 1rem;
        }
        h1 {
                font-size: 5rem;                
        }
        h2 {
                font-size: 2.5rem;          
        }
        h3 {
                font-size: 2rem;                
        }
        h4 {
                font-size: 1.5rem;                        
        }
        h5 {
                font-size: 1rem;            
        }
        h6 {
                font-size: 1rem;            
        }
        caption {
                font-size: 1.2rem;                
        }
        sub, sup {
                font-size: 0.8rem;                
        }
}
.display_flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-height: 2rem;
        justify-content: space-between;
}
.font_usage {
        width: 50%;
}
footer {
        position: sticky;
        background-color: #2A2F4F;
        height: 4rem;
        width: 100%;
        z-index: 8;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
}
footer h6 {
        color: #FDE2F3;
}
