body {        
}
* {
        box-sizing: border-box;
}
.color1 {
        color: #D96704;
}
.color2 {
        color: #222601;
}
.color3 {
        color: #f7f7f7;
}
.color4 {
        color: #0A0A0A;
}
.text1 {
        color: #4f4f4f;
}
.bg1 {
        background-color: #D96704;
}
.bg2 {
        background-color: #222601;
}
.bg3 {
        background-color: #f7f7f7;
}
.bg4 {
        background-color: #0A0A0A;
}
.opa08 {
        opacity: 0.8;
}
.bg2-08 {
        background-color: hsla(60,8.33%,90.59%,1);
}
.group {
        width:50%;
}
.width50 {
        width: 50%;
}
.round-bg {
        border-radius: 50%;
        width: 35px;
        height: 35px;
}
#header-top {
        height: 3rem;
        padding: 0 1%;
        box-sizing: border-box;
}
.flex-column {
        display: flex;
        flex: column wrap;
}
.justify-content-center {
        justify-content: center;
}
.align-items-center {
        align-items: center;
}
.flex {
        display: flex !important;
}
.email {
}
.box-size {
        box-sizing: border-box;
}
.social-icon {
        
}
.fa-instagram {
        margin: 0 1px;
        box-sizing: border-box;
}
.button {
        height: 2rem;
        padding: 1rem 3rem;
        box-sizing: border-box;
}
.inquyry {
        background-color: #D96704;
        width: 70%;
        border-radius: 15px;        
}
.bottom {
}
.j-content-sb {
        justify-content: space-between;
}
.j-content-se {
        justify-content: space-evenly;
}
.margin {
        margin-left: 1rem;
        margin-right: 1rem;
        box-sizing: border-box;
}
.s-margin {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        box-sizing: border-box;
}
.sss-margin {
        margin: 0 0.5%;
        box-sizing: border-box;
}
.s-padding {
        padding: 0.5rem;
        box-sizing: border-box;
}
.col-gap {
        column-gap: 2%;
}
@media only screen and (max-width: 380px) {
        #header-top {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                height: auto;
                padding: 1rem;
                box-sizing: border-box;
        }
        .group {
                justify-content: center;
        }
        .email {
                width: auto;
        }
        .full-width {
                width: 100%;
                flex-direction: column;
                row-gap: 0.5rem;
        }
}
@media only screen and (max-width: 680px) {
     
}