* {
        box-sizing: border-box;
}
* * {
        box-sizing: border-box;
}
h1 {
        font-family: 'Righteous', cursive;
        font-size: 4rem;
        font-weight: normal;
}
h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        font-weight: 600;        
}
h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
}
h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
        font-weight: 600;
}
h5 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.0rem;
        font-weight: 400;
}
h6 {
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        font-weight: 300;
}
p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.0rem;
        font-weight: 400;
        line-height: 1.6;
}





.bg1 {
        background-color: #f7f7f7;
}
.bg2 {
        background-color: #e76f51;
}
.bg3 {
        background-color: #264653;
}
.color1 {
        color: #f7f7f7;
}
.color2 {
        color: #e76f51;
}
.color3 {
        color: #264653;
}
.line-spacing {
        height: 2rem;
        width: 100%;
}
#header {
        width: 100%;
        height: 58.2rem;
        background-image: url(./resources/img/ttbg.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        z-index: -2;
}
#club-name {
        position: relative;
        bottom: 6rem;
        color: #f7f7f7;
        font-family: 'Righteous', cursive;
        font-size: 6rem;
        line-height: 1;
        font-weight: normal;
        letter-spacing: 2rem;
        margin-right: -2rem;
}
#text-group {
        padding: 1rem;
}
#place-grid {
        background-color: #f7f7f7;
}
#main-s1 {
        background-color: white;
}
#subscribe {
        padding: 1rem;
}
#channel {
        padding: 1rem;
        background-color: #f7f7f7;
}
#footer {
        padding: 1rem;
}
.place-grid {
        max-width: 100%;
        display: grid;
        grid-template: repeat(3,15rem) / repeat(3,calc(100% / 3)) ;
        gap: 1.5px 1.5px;
        padding: 1rem;
}
.place-grid h3 {
        z-index: 1;
}
.location {
        overflow: hidden;
        position: relative;        
        background-size: cover;
        background-position: 50% 50% ;
}
.boston {
        background-image: url(./resources/img/SPIN-Boston.jpg);
}
.chicago {
        background-image: url(./resources/img/SPIN-Chicago.jpg);
}
.newyork {
        background-image: url(./resources/img/SPIN-New-York.jpg);
}
.newyork-mid {
        background-image: url(./resources/img/SPIN-New-York-Midtown.jpg);
}
.philadelphia {
        background-image: url(./resources/img/SPIN-Philadelphia.jpg);
}
.san-francisco {
        background-image: url(./resources/img/SPIN-San-Francisco.jpg);
}
.seattle {
        background-image: url(./resources/img/SPIN-Seattle.jpg);
}
.toronto {
        background-image: url(./resources/img/SPIN-Toronto.jpg);
}
.washington-dc {
        background-image: url(./resources/img/SPIN-Washington-DC.jpg);
}
.main-img {
        overflow: hidden;
        position: relative;        
        background-size: cover;
        background-position: 50% 50%;
        width: 50%;
        height: 50rem; 
}
.careers-img {        
        background-image: url(./resources/img/about1.jpg);
}
.reserve-img {
        background-image: url(./resources/img/SPIN-New-York-Venue.jpg);
}
.kitchen-img {
        background-image: url(./resources/img/kitchen-img.jpg);
}
.gift-card-img {
        background-image: url(./resources/img/giftcard-img.jpg);
}
.main-text {
        height: 40rem;
        padding: 7rem;
        gap: 3rem;
        background-color: #f7f7f7;        
}
.main-right {
        width: 50%;
        position: relative;
        left: -2rem;
}
.main-left {
        width: 50%;
        position: relative;
        left: 2rem;
        z-index: 1;
}
.normal-button {
        padding: 1rem 2rem;
        background-color: transparent;
        border: 1px black solid;
        text-align: center;
}
.main-button {
        padding: 1rem 2rem;
        background-color: transparent;
        border: 1px black solid;
        text-align: center;
        height: 3rem;
}
.main-button:hover {
        background-color: #000;
        color: #f7f7f7;
        cursor: pointer;
}

.location-bg {
        background-color: #000;
        opacity: 0.5;
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
}
.location-bg:hover {
        opacity: 0;
        transition: 0.2s;
        cursor: pointer;
}
.location-img {
        height: auto;
        width: 120%;
        position: relative;        
        top: 50%;
        transform: translateY(-50%);
}
.container {
        max-width: 90rem;
        width: 100%;        
}
.container2 {
        width: 100%;
}
.connect {
        width: 10rem;
        flex-grow: 1;
}
.global {
        width: 11rem;
        flex-grow: 1;
}
.partners {
        width: 26rem;
        flex-grow: 1;
}
.with100 {
        width: 100%;
}
.flex {
        display: flex;
}
.flex-column {
        display: flex;
        flex-direction: column;
}
.j-content-se {
        justify-content: space-evenly;
}
.j-content-sb {
        justify-content: space-between;
}
.j-content-center {
        justify-content: center;
}
.al-item-center {
        align-items: center;
}
.gap {
        gap: 2rem;
}
.icon-size {
        font-size: 1rem;
        line-height: 1;
        display: flex !important;
        align-items: center;       
}
.card {
        height: auto;
        position: relative;
        flex: 1 1 0;
        max-width: 26rem;
        padding: 1.3rem;
        gap: 1.3rem
}
.card1 {
        width: calc(100%);
        height: 17rem;
        z-index: 1;
        text-align: center;
}
.card2-3 {
        width: calc(100%);
        height: 6rem;
        gap: 1rem;
}
.card2, .card3 {
        width: 100%;
        height: 2.5rem;
        padding: 0.2rem 1rem;
        z-index: 1;
}
.card-bg {
        opacity: 0.7;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
}
.large-icon {
        font-size: 2rem;
}
.super-large-icon {
        font-size: 8rem;
}
.elementor-field-type-email {
        height: 3rem;
        flex: 1 1 20rem;
}
.elementor-field-textual {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1;
}
input[type=email] {
        width: 100%;
        border: 1px #000 solid;
        padding: 1rem;
        height: 3rem;
        margin-right: 0.5rem;
}
.width-15 {
        width: 15rem;
}
.text-align-right {
        text-align: right;
}
.chanel-icon-container {
        width: 2rem;
}
.flex-grow {
        flex-grow: 1;
}
@media only screen and (max-width: 1023px) {
        .container, .container2 {
                flex-direction: column;
        }
        #table, #party, #event {
                width: 100%;
                max-width: 30rem;
        }
        #header {
                height: auto;
                padding: 1rem;
        }
        #club-name {
                bottom: 0;
                margin-bottom: 1rem;
        }
        .elementor-field-type-email {
                width: 100%;
                flex: 1 1 0;
        }
        .main-img, .main-right, .main-left {
                width: 100%;
                left: 0;
        }
        .main-img {
                height: 30rem;
        }
        .main-right, .main-left {
                height: auto;

        }
        .main-text {
                padding: 1rem;
                height: auto;
        }
        .normal-button, .main-button, input[type=email] {
                width: 80%;
                padding: 1rem;
                height: 3.2rem;
                margin: 0;
        }
        .line-spacing {
                height: 1.5rem;
        }
        .location h3 {
                text-align: center;
        }       
}
@media only screen and (max-width: 767px) {
        .line-spacing {
                height: 0.5rem;
        }
        .super-large-icon {
                font-size: 6rem;
        }
        .gap {
                gap: 1rem;
        }
        #channel > .gap {
                gap: 4rem;
        }
        .elementor-field-type-email {
                flex-direction: column;
                height: auto;
                gap: 1rem;
        }
        #club-name {
                font-size: 3rem;
        }

}