html {
        font-size: 12px;
}
@media screen and (min-width: 411px) {
        html {
                font-size: 14px;
        }
}
@media screen and (min-width: 767px) {
        html {
                font-size: 16px;
        }             
}