/* 1. Universal setting*/
html {
        font-size: 12px;
}
@media screen and (min-width: 411px) {
        html {
                font-size: 14px;
        }
}
@media screen and (min-width: 767px) {
        html {
                font-size: 16px;
        }             
}
body {
        background-color: #FEFEFB;
}
.color-1 {
        color: #E5BEEC;        
}
.color-2 {
        color: #FDE2F3;        
}
.color-3 {
        color: #2A2F4F;
}
.color-4 {
        color: #FEFEFB;
}
.color_background-1 {
        background-color: #E5BEEC;        
}
.color_background-2 {
        background-color: #FDE2F3;        
}
.color_background-3 {
        background-color: #2A2F4F;
}
.color-background {
        background-color: #FEFEFB;
}
* {
        box-sizing: border-box;
        letter-spacing: 0.1px;
}
h1, h2  {
        color: #343434 ;
}
.heading_color {
        color: #343434 ;
}
h3, h4, h5, h6, p, caption { 
        color: #69717b; 
}
h1 {
        font-size: 4rem;
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
}
h2 {
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;

}
h3 {
        font-size: 2rem;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;

}
h4 {
        font-size: 1rem;
        font-weight: 200;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;

}
h5 {
        font-size: 1rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;

}
h6 {
        font-size: 1rem;
        font-weight: 200;
        font-family: 'Poppins', sans-serif;

}
p {
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        line-height: 1.5rem;
}
caption {
        font-size: 1rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        line-height: 1.5rem;
        display: inline;
}
sub, sup {
        font-size: 0.8rem;
        font-weight: 200;
        font-family: 'Poppins', sans-serif;
}
/* END - 1. Universal setting*/

/* 2. Header setting*/
header {
        background-color: #E5BEEC;
        position: fixed;
        width: 100%;
        top:0;
        padding: 0 1rem;
        height: 6rem;
        z-index: 9;
        box-shadow: 2px 2px 2px #2A2F4F;
}
nav {
        display: flex;
        max-width: 1000px;
        height: 6rem;
        justify-content: space-between;
        margin: auto;
}
.ul_container {
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
}
nav ul {
        display: flex;
        align-items: center;
        
}
nav ul li {
        display: flex;
        align-items:center;
        padding-left: 2rem;
}
.logo {
        height: 6rem;
        display: flex;
}
.logo img{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        margin: auto 0;
}
.checkbtn {
        display: none;
}
#check {
        display: none;
}
/* END - 2. Header setting*/

/* 3. Main body setting */
main {
        margin: 3rem auto;
        padding: 0 1rem;
}
/* END - 3. Main body setting */

/* 4. Section setting*/
.section_separate {
        position: relative;
        border: 3px solid #E5BEEC;
        width: 80px;
        height: 6px;
        margin: 1rem 0 4rem;        
}
section {
        margin: 0 auto;
        padding: 9rem 0 3rem;
        max-width: 1000px;
}
/* END - 4. Section setting*/

/* 5. section id="intro" setting */
main section h1 {
        position: relative;
        top: 0px;        
}
#larger-title {
        width: 20%;
        padding: 2rem 0;
        line-height: calc(6rem*0.8);
}
#intro p {
        max-width: 700px;
}
#larger-title {                
        line-height: 6rem;
}
#intro p {
        margin: 0 0 1rem 0;
    }
/* END - 5. section id="intro" setting */

/* 6. <section id="colors-style"> setting */
.color_element-style{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
}
.general_text_style {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
}
.second_bg {
        background-color: #FDE2F3;
}

.display_flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-height: 2rem;
        justify-content: space-between;
}
.font_usage {
        width: 50%;
}
/* END - 5. section id="intro" setting */
footer {
        position: sticky;
        background-color: #2A2F4F;
        height: 4rem;
        width: 100%;
        z-index: 8;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
}
footer p {
        color: #FDE2F3;
}
button {
        background-color: #FDE2F3;
        border: 0px solid #FEFEFB;
        padding: 0.0rem 20%;
}
/* Responsive setting */
@media screen and (max-width: 644px) {
        header {
                padding: 0;
        }
        nav {   
                margin-bottom: 4rem;
        }
        .checkbtn {
                box-sizing: border-box;
                display: flex;
                font-size: 2rem;
                width: 5rem;
                line-height: 5rem;
                margin: 0.5rem 1rem;
                justify-content: center;
                align-items: center;                
                background-color: #FEFEFB;
                border-radius: 50%;
        }
        .logo {
                height: 6rem;
                padding: 0.5rem 1rem;
        }
        .logo img{
                height: 5rem;
                width: 5rem;
                border-radius: 50%;
                margin: auto 0;
        }
        nav .ul_container {
                position: fixed;
                top: 8rem;
                width: 30%;
                min-width: 150px;        
                background-color: #FDE2F3;
                flex-direction: column;
                justify-content: flex-start;
                box-shadow: 2px 2px 2px #2A2F4F;
                right: -250px;
                transition: 0.5s;
                border-radius: 15px;

        }
        nav ul {
                display: flex;
                flex-direction: column;
        }
        nav ul li {
                margin: 0 auto;
                height: 4rem;
                padding: 0;
        }
        nav ul li a h4 {
                color: #2A2F4F;
        }
        #check {
                display: none;
        }
        #check:checked ~ .ul_container {
                right: 2rem ;
        }
}